*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  font-weight: normal;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #f6f6fe;
}

button {
  padding: 0;
  border:none;
  outline: 0;
}

select {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
}

input {
  appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  outline: none;
}

button {
  appearance: none;
  -webkit-appearance: none;
}