$font-color : (
        'black' : #2b2d2f,
        'white' : #ffffff,
        'red' : #e9453d,
);

$font-size : (
       'small' : 20px,
        'medium' : 24px,
        'large' : 28px,
        'xlarge' : 30px,
);

$font-weight : (
        'medium' : 500,
        'bold' : 700,
);

.d-flex {
  display: flex;
}
